<mat-card class="credentials-card">
    <mat-card-title>Sign In</mat-card-title>
    <mat-card-subtitle>to your To-Go account</mat-card-subtitle>
    <mat-card-content>

        <form class="credentials-form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error *ngIf="isFieldInvalid('email')">
                    Invalid email address
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password"
                       formControlName="password" required>
                <mat-icon matSuffix (click)="hide = !hide" class="pointer">
                    {{hide ? 'visibility' : 'visibility_off'}}
                </mat-icon>
                <mat-error *ngIf="isFieldInvalid('email')">
                    Invalid password
                </mat-error>
            </mat-form-field>
            <div class="right-aligned">
                <button mat-raised-button color="accent">
                    Sign In
                </button>
            </div>
        </form>

    </mat-card-content>
    <mat-card-footer class="credentials-footer">
        Haven't registered yet? <a [routerLink]="['/signup']">Sign up here</a>
    </mat-card-footer>
</mat-card>

