
<mat-table #table [dataSource]="dataSource">

  <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let todo"> {{todo.title}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let todo"> {{todo.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="due">
      <mat-header-cell *matHeaderCellDef> Due </mat-header-cell>
      <mat-cell *matCellDef="let todo"> {{todo.due}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit" class="edit-cells">
      <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
      <mat-cell *matCellDef="let row">
          <mat-icon color="accent">edit</mat-icon>
      </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<mat-grid-list cols="12" rowHeight="100px">
  <mat-grid-tile [colspan]="12" [rowspan]="1">
    <span *ngIf="todos.length===0">Your to-do list is empty</span>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="1" *ngIf="!createFormEnabled">
    <button (click)="enableCreateForm()" mat-raised-button color="primary">
      Add a task
    </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="1" *ngIf="createFormEnabled">
    <form>
      <mat-form-field class="full-width">
        <input matInput placeholder="Task" value="" [(ngModel)]="newTodo.title"
          name="title">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Description" value=""
          [(ngModel)]="newTodo.description" name="description">
      </mat-form-field>
      <label>
          When:
          <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
            [min]="now" [(ngModel)]="newTodo.due" name="due">
          <owl-date-time #dt></owl-date-time>
      </label>
      <div class="button-row">
        <button mat-raised-button color="accent" (click)="addTask()">Add</button>
      </div>
    </form>
  </mat-grid-tile>
</mat-grid-list>
