.mat-table {
    margin: 1em;
    border: 1px solid #efefef;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 3px 0px #cdcdcd;
}

.mat-cell, .mat-header-cell {
    flex: 2 1 120px;
    margin: 1em;
}

.mat-column-edit, .mat-column-delete, .mat-column-complete, .mat-column-put-back {
     flex: 1 0 40px;
     .mat-icon {
        cursor: pointer;
     }
}

.expired {
    color: tomato;
}

.buttons-row {
  margin: 1em 0;
}

@media (max-width: 600px) {
  form {
    margin: 1em;
  }
  .mat-header-row, .mat-row {
    padding: 0;
  }
  .mat-cell, .mat-header-cell {
    margin: 0.5em;
  }
  .mat-column-delete {
    display: none;
  }

}
